<div class="row">
    <div class="col-xs-12">
        <h1>{{ task.title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button (click)="deleteTask()" type="button" class="btn btn-danger dropdown-toggle">
                Delete Task 
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{task.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let sub of task.subTasks">
                {{ sub.title }} 
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let path of task.filePaths">
                {{ path.title }} 
            </li>
        </ul>
    </div>
</div>