<div class="row">
    <div class="col-xs-6">
        <h1>{{ task.title }}</h1>
    </div>
    <div class="col-xs-6">
        <div class="btn-group">
            <button (click)="deleteTask()" type="button" class="btn btn-danger dropdown-toggle">
                Delete Task 
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Due by {{task.dueDate }}
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        {{task.description }}
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        Sub-Tasks
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let sub of subTasks">
                {{ sub }} 
            </li>
        </ul>
    </div>
</div>
