<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!taskForm.valid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" formControlName="title" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Due Date</label>
                        <input type="text" id="description" formControlName="dueDate" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" class="form-control" formControlName="description"
                            rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="subTasks">
                    <label for="description">Subtasks</label>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-10">
                            <input type="text" class="form-control" formControlName="subTitle">
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-danger">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success">Add Sub Task</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12" formArrayName="files">
                    <label for="description">Files</label>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-10">
                            <input type="text" class="form-control" formControlName="files">
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-danger">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success">Add File</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>